
@{
    ViewBag.Title = "ModRegistrationSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Account has been created sucessfully!</h2>
Please click here to redirect back to <a href="~/Auction/Create">Admin Page.</a>

