@{
    ViewBag.Title = "Reset Password Confirmation";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Reset Password Confirmation</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="shortcut icon" href="~/Content/Images/Others/AnonymousBidderFavicon.ico"/>
    @Styles.Render("~/Style/css")
</head>
<body>
    <div class="container signin-page">
        <div class="signin-logo">
            <img src="~/Content/Images/Signin/AnonymousBidderLogoSignin.png" alt="AnonymousBidder Logo" />
        </div>
        <div class="box">
            <div class="form-section clearfix">
                <h4 class="pull-left">Reset Password Confirmation</h4>
            </div>
            <hr>
            <div class="form-section clearfix">
                <div class="form-group paddingleft">
                    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container signin-page">
            <div class="pull-right">© @DateTime.Now.Year.ToString() AnonymousBidder - All Rights Reserved</div>
        </div>
    </footer>
</body>
</html>
