@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error" style="text-align:center">Error!</h1>
    <h2 class="error" style="text-align:center">An error occurred while processing your request.</h2>      
</hgroup>
